{% extends 'base.html.twig' %}

{% block title %}Mot de passe oublié{% endblock %}

{% block body %}
    <div id="main">
        <div class="inner">
            <div class="container center">
                <h1>Mot de passe oublié</h1>
                {{ form(emailForm) }}
            </div>
        </div>
    </div>
{% endblock %}
