{% extends 'base.html.twig' %}

{% block title %}Hello MemberController!{% endblock %}

{% block body %}
    <div id="main">
        <div class="inner">
            <h1>Votre profile</h1>
        </div>
    </div>
{% endblock %}
